.category-container {
  font-family: 'Wolfers', sans-serif;
  padding: 5%;
}

.category-container h1 {
  color: white;
  letter-spacing: 2px;
}

.category-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0;
}

.category-container a:hover {
  text-decoration: none;
  color: #6d9aae;
  background-color: white;
  transition: all 0.3 ease-in-out;
  margin: 0;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Responsive columns with minimum width */
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
  text-align: center;
  border: 1px solid #ccc;
  letter-spacing: 1.5px;
  padding: 10px;
}
.category-item:hover {
  transform: scale(1.1);

}