/* .subscription-table-container{
    font-family: 'Wolfers', sans-serif;
  color: #fff;
  padding: 10%;
    font-size: 2vw;
}

.subscription-table-container thead{
  color: #6d9aae;
}
.subscription-table-container tbody{
  color: red;
}
.subscription-table-container th{
  text-align: left;
    border-left: 2px solid white;
}
.subscription-table-container td {
  text-align: center;
  border-left: 2px solid white;
}
.subscription-table-container h2{

  margin: 0;
} */